@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap&subset=cyrillic-ext");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }

a {
  text-decoration: none; }

.container {
  max-width: 1140px;
  margin: 0 auto; }

.button {
  width: 160px;
  height: 45px;
  background-color: #ec644b;
  border: none;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer; }
  .button-promo {
    display: block;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 700;
    width: 230px;
    height: 57px;
    margin: 39px auto 81px; }

.title {
  padding-top: 57px;
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #2e2e2e; }

.promo {
  position: relative;
  min-height: 680px;
  overflow: hidden; }
  .promo::before {
    content: '';
    position: absolute;
    left: -17px;
    right: -17px;
    top: -9px;
    bottom: -335px;
    z-index: -1;
    background: url(../img/preview_background.jpg) center/cover no-repeat;
    filter: blur(9px) brightness(30%); }
  .promo__slogan {
    font-size: 24px;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    padding-top: 47px; }
  .promo__title {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 72px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ec644b;
    padding-top: 26px;
    text-align: center; }
  .promo__subtitle {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 42px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff; }
  .promo__divider {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 38px; }
  .promo__leftLine {
    width: 380px;
    border-bottom: 1px solid #ffffff; }
  .promo__rightLine {
    width: 380px;
    border-bottom: 1px solid #ffffff; }
  .promo__circle {
    height: 10px;
    width: 10px;
    margin: 0 12px 0 12px;
    background-color: #ffffff;
    border-radius: 100%; }
  .promo__icons {
    display: flex;
    justify-content: space-between;
    align-items: baseline; }
  .promo__icon {
    min-height: 150px;
    width: 260px; }
    .promo__icon img {
      display: block;
      margin: 27px auto 0; }
  .promo__descr {
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
    color: #ffffff;
    padding-top: 16px; }

.header {
  position: relative;
  padding-top: 23px;
  display: flex;
  justify-content: space-between; }
  .header__logo {
    width: 96px;
    height: 100px;
    cursor: pointer; }
    .header__logo img {
      width: 100%; }
  .header__menu {
    display: flex;
    justify-content: space-between;
    padding: 37px 30px;
    margin: 0;
    list-style-type: none; }
    .header__menu-item {
      border-right: 1px dotted #74757a;
      padding: 0 12px 0 12px; }
      .header__menu-item:last-child {
        border: none; }
    .header__menu-link {
      position: relative;
      font-size: 15px;
      line-height: 16px;
      font-weight: 400;
      color: #ffffff;
      cursor: pointer; }
      .header__menu-link:hover {
        color: #ec644b;
        transition: 0.35s; }
      .header__menu-link::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 0;
        height: 1.5px;
        transition: width 0.35s;
        background-color: #ec644b; }
      .header__menu-link:hover:before {
        width: 100%; }
  .header__contacts {
    display: flex;
    justify-content: space-between;
    padding-top: 25px; }
  .header__questions {
    padding-right: 19px; }
  .header__call {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #ffffff;
    text-align: right; }
  .header__phone {
    font-size: 19px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff; }

.advantages {
  min-height: 590px;
  background-color: #f3f3f3; }
  .advantages__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 31px; }
  .advantages__item {
    display: flex;
    width: 520px;
    padding-right: 100px;
    margin-top: 31px; }
  .advantages__round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 17px;
    width: 50px; }
  .advantages__descr {
    width: 520px; }
  .advantages__subtitle {
    font-size: 16px;
    font-weight: 700;
    color: #ec644b;
    margin-bottom: 5px; }
  .advantages__text {
    font-size: 14px;
    font-weight: 300;
    color: #3a3a3a; }

/*# sourceMappingURL=style.css.map */
