.advantages {
  min-height: 590px;
  background-color: #f3f3f3;
  &__wrapper {
    display: grid;
    grid-template: repeat(3,minmax(34px,auto))/repeat(2,540px);
    grid-auto-rows: 1fr;
    column-gap: 50px;
    row-gap: 36px;
    padding-top: 30px;
  }
  &__item {
    display: grid;
    grid-template-columns: 60px 462px;
    column-gap: 17px;
  }
  &__subtitle {
    font-size: 16px;
    font-weight: 700;
    color: $main-color;
    margin-bottom: 5px;
  }
  &__text {
    font-size: 14px;
    font-weight: 300;
    color: #3a3a3a;
  }
}

