.button {
  width: 160px;
  height: 45px;
  background-color: $main-color;
  border: none;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  transition: 0.45s all;
  &:hover {
    background-color: #bb4732;
  }
  &-promo {
    display: block;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 700;
    width: 230px;
    height: 57px;
    margin: 39px auto 81px;
  }
  &-price {
    display: block;
    width: 160px;
    height: 45px;
    margin: 25px auto auto;
  }
  &-send {
    position: relative;
    display: block;
    width: 180px;
    height: 45px;
    bottom: -20px;
    margin: 0 auto;
    z-index: 2;
  }
  &-question {
    display: block;
    width: 180px;
    height: 45px;
    margin: 15px auto auto;
  }
}