.title {
  padding-top: 57px;
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #2e2e2e;
  &-agent {
    padding-top: 20px;
    text-transform: none;
    font-weight: 700;
    color: #ffffff;
  }
}