.work {
  min-height: 619px;
  &__text {
    text-align: center;
    padding-top: 17px;
    font-size: 21px;
    font-weight: 400;
    color: #2e2e2e;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 37px;
  }
  &__item {
    width: 360px;
  }
  &__subtitle {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: $main-color;
    padding-top: 20px;
  }
  &__descr {
    padding-top: 10px;
    text-align: justify;
    font-size: 14px;
    font-weight: 400;
    color: #3a3a3a;
  }
}